[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.2"
Flask-Login = "==0.5.0"
Flask-Migrate = "==2.5.3"
Flask-Script = "==2.0.6"
Flask-SQLAlchemy = "==2.4.3"
Flask-WTF = "==0.14.3"
Flask-User = {git = "https://github.com/lingthio/Flask-User.git", ref = "master"}
setuptools = "==45"

[dev-packages]
pytest = "==5.4.3"
pytest-cov = "==2.10.0"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.8"
